<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>
        <%= game.title %>
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>


    <h1>
        <%= game.title %>
    </h1>
    <div class="desc">
    <p>
        <p class="diff"><%= game.difficulty %></p>
            <p class="status">
            <% if (game.isCompleted) { %>
                <p>Game Complete! ✅ </p>
                <% } else { %>
                    <p>This game is unfinished... ❌ </p>
                    <% } %>
                <p class="platform"><%= game.gamingPlatform %></p>
            </p>
        </div>
        <p class="notes"><%= game.notes %></p>
    <form action="<%= game._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
<a href="/users/<%= user._id %>/games/<%= game._id %>/edit" class="clickable">Edit Game</a>

</body>

</html>